ul
  li
      a(href='/toLanding')   #{welcomeMessage}!
  if LOGGEDIN
    li
      a(href='/toLanding')  Hub
    li
      a(href='/logout')  Logout
  else
    li
      a(href='/') Login
              
            